// Font Family
$SairaSemi: 'Saira Semi Condensed', sans-serif;
$anton: 'Anton', sans-serif;
$mulish: 'Mulish', sans-serif;

// background ----------
$menuh-bg: #F5F8F9;
$tobar-bg: #2f3033;
$gry-bg: #f6f7f8;
$black-bg: #1c1c1c;
$footer-bg : #131313;
$footer-copyright-bg : #171717;
$footer-s-bg: #010101;
$footer-socail-bg: #424242;
$services-ex-bg: #1a1c20;
$client-circle: #8d8e90;
$business-sbg: #044496;


// Colors ---------------
$white: #ffffff;
$grey: #F5F6F6;
$grey2: #F7F7F8;
$grey3: #F4F6F9;
$black: #000;
$hr-border-color:#eceff8;
$theme-color: #fdbb53;
$theme-color2: #c02140;
$theme-color-blue: #0e4b99;
$body-text-color: #727374;
$menu-top-socail: #929292;
$footer-text-color: #bcbfc9;
$border-color: #E7EAEF;
$border-f-color: #2e2e2f;
$border-color3: #060607;
$border-color4: #8AA1A4;
$border-color5: #C9A8A8;
$before-color: #3a3b3d;
$slider-next: #929495;
$services-br: #e4e5e5;
$business-br: #3669ab;
$services-ex-text: #999999;
$skilbar-color: #4b4d4f;
$ac-br: #4b4d4f;
// Heading Color
$heading-color: #000000;

// footer 
$footer-text-color: #d9dae0;

// Soft color
$black-soft:#1d284b;
$grey-border: #d6d8db;



// Responsive Variables
$desktop-custom: 'only screen and (min-width: 1600px) and (max-width: 1750px)';
$xxl: 'only screen and (min-width: 1400px) and (max-width: 1599px)';
$xl: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$sm-l: 'only screen and (min-width: 460px) and (max-width: 575px)';
$xs:'(max-width: 575px)';


